#toplevel_page_berocket_account .wp-first-item {
    display: none!important;
}
.toplevel_page_berocket_custom_post .dashicons-before img {
    max-width: 16px;
    max-height: 16px;
}
.berocket_admin_menu_custom_post_submenu {
    display: inline-block;
    position: relative;
    padding-left: 25px;
}
.berocket_debug_errors {
    margin-top: 60px;
}